[submodule "frontend"]
	path = frontend
	url = https://harik_klar@bitbucket.org/klarsys/zmote-frontend.git
[submodule "app/models"]
	path = app/models
	url = https://harik_klar@bitbucket.org/klarsys/zmote-dbmodels.git
